body{
  background-color: #FAF0E6
}

.content{
  display: flex;
}

#pagetitle{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  margin-top: 25px
}


$books {
  margin-bottom: 10px;

}

.searchbar{
  text-align: center;
}

.searchbar input{
  text-align: center;
  width: 20%;
}

.searchbar button{
  align-self: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 70%;
	background: #366251;
	color: white;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #C6BEB0;
}

.display{
  display: flex;
  flex-direction: row
}


.modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
/*Set this to `none` so that the modal does not show initially on page load.*/
}

.modal-textbox {
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}




.card-button {
	align-self: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 70%;
	background: #366251;
	color: white;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #C6BEB0;
}
