body{
  background-color: #FAF0E6;
  display: flex;
  flex-direction: column
}

.content{
  display: flex;
  justify-content: space-around;
}

.toplevel{
  background-color: #CC5500;
  align-content: center;
}

#pagetitle{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  color: white;
  padding: 20px
}


$books {
  margin-bottom: 10px;

}

.searchbar{
  text-align: center;
  margin-top: 20px;
}

.searchbar input{
  text-align: center;
  width: 20%;
  border-radius: 2em
}

.searchbar button{
  align-self: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 70%;
	background: #366251;
	color: white;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #C6BEB0;
}

.searchbar button:hover{
transform: scale(1.1)
}

.display{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 35px;
  gap: 10px
}


.modal {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
/*Set this to `none` so that the modal does not show initially on page load.*/
}

.modal-textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 80%;
	background-color: rgba(0, 0, 0, 0.64);
  color: white;
  height: 350px;
	width: 550px;
  overflow: auto;
  border-radius: 2em;
  margin: 150px auto;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
}

.modal-textbox a{
  display: flex;
  flex-direction: column;
}

.modal-textbox button{
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.64);
  color: white;
}

.card-button {
	align-self: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 70%;
	background: #366251;
	color: white;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #C6BEB0;

}

.card-button:hover {
  transform: scale(1.1);
  transition-duration: .5s
}

.cards:hover {
  transform: scale(1.25);
  transition-duration: .5s
}

.footer{
  display: flex;
  background-color: #CC5500;
  justify-content: flex-start;
  gap: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 60%
}
